<div class="justify-content-center mt-3 display-none" id="loading_box">
  <button class="btn btn-success btn-lg" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Loading...
  </button>
</div>