<%= link_to 'Voltar', root_path, class: 'btn btn-outline-dark mt-1' %>
<div class="container d-flex flex-column align-items-center justify-content-center my-5 card rounded-3 main-container">
  <%= render 'form', transaction: @transaction, transaction_url: '/transaction', button_text: 'Enviar' %>
  <%= render 'loading_box'%>
</div>