<div class="container" style="height:100%;">
    <h5 style="margin-top:2rem">Lista das transações importadas</h5>

   <div class="d-flex align-items-end mt-3" style="font-size:.8rem">
        <table class="table table-striped table-hover" style="overflow-y:scroll;">
            <!--transações totais-->
                <thead>
                    <tr class="table-primary">
                        <th colspan="4" >Nome da Loja</th>
                        <th colspan="4" >Receita Bruta Total</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @transactions_total.any? %>
                        <% @transactions_total.each do |t| %>
                            <tr>
                                <td colspan="4"><%= t.first %></td>
                                <td colspan="4"><%= number_to_currency(t.last) %></td>
                            </tr>
                        <% end %>
                    <% else %>
                        <td colspan="8" class="text-danger text-center">Nenhum dado disponível</td>
                    <% end %>
                </tbody>
            <!--transações ultimo upload-->
                <thead>
                    <tr class="table-primary">
                        <th colspan="4" >Nome da Loja</th>
                        <th colspan="4" >Receita Bruta do Último Upload</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @transactions_last_upload.any? %>
                        <% @transactions_last_upload.each do |tlu| %>
                            <tr>
                                <td colspan="4"><%= tlu.first %></td>
                                <td colspan="4"><%= number_to_currency(tlu.last) %></td>
                            </tr>
                        <% end %>
                    <% else %>
                        <td colspan="8" class="text-danger text-center">Nenhum dado disponível</td>
                    <% end %>
                </tbody>
            
        </table>
    </div>
</div>